* {
  padding: 0;
  margin: 0; }

table {
  width: 500px;
  border-collapse: collapse;
  font-size: 15px; }
  table td, table th {
    border: 1px solid #dadada;
    padding: 0px;
    text-align: center; }
  table.iteration {
    margin-top: 10px;
    margin-bottom: 10px; }
  table .content {
    display: flex;
    position: relative;
    height: 50px;
    line-height: 50px; }
    table .content > * {
      flex: 1; }
    table .content:hover .text-over {
      line-height: initial;
      display: block;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 150px;
      color: #444;
      text-align: center;
      background-color: teal;
      border-radius: 5px;
      padding: 10px;
      z-index: 20;
      pointer-events: none;
      color: #fff;
      font-size: 15px; }
      table .content:hover .text-over::before {
        content: '';
        border-left: 5px solid transparent;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid teal;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        position: absolute;
        right: 100%; }
    table .content .text-over {
      display: none; }
    table .content .option-2 {
      text-align: center;
      color: #AAA; }
      table .content .option-2.selected .equation {
        animation: all-width ease-in-out .5s;
        animation-fill-mode: forwards; }

.equation {
  position: absolute;
  background-color: #fff;
  width: 50%; }
  .equation.left {
    left: 0; }
  .equation.right {
    right: 0; }
  .equation.valid {
    background-color: green; }
  .equation.not-valid {
    background-color: red; }

@keyframes all-width {
  from {
    z-index: 10; }
  to {
    z-index: 10;
    width: 100%; } }

.relative {
  position: relative; }

.center {
  margin: 0 auto; }

.center-v {
  display: flex;
  align-items: center;
  justify-content: center; }
  .center-v.input-2 {
    justify-content: space-around; }

.padding-10 {
  padding: 10px; }

#iterations table {
  width: 300px; }

input[type="radio"] {
  opacity: 0;
  position: absolute; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"], .value {
  width: 80px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  border-radius: 5px; }

input[type="number"] {
  -moz-appearance: textfield;
  font-size: 20px;
  border: 1px solid rgba(23, 157, 156, 0.3); }

.value {
  color: #444;
  display: inline-block;
  line-height: 30px;
  border: 1px solid #DADADA;
  font-size: 20px;
  font-weight: bold;
  background: #F1F1F1;
  cursor: not-allowed; }

input[type="number"]:focus {
  border: 1px solid #179D9C; }

input[type="submit"] {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px; }

.btn {
  padding: 10px 25px;
  border: 0px;
  margin: 10px; }

.btn-submit {
  background-color: #179D9C; }

.btn-submit:hover {
  background-color: teal; }

label {
  position: absolute;
  display: block;
  font-size: 20px;
  text-align: center;
  color: teal;
  width: 100%;
  height: 100%;
  cursor: pointer; }

input[type="radio"]:checked + label {
  background-color: rgba(0, 128, 128, 0.7);
  color: #fff; }
