* {
  padding: 0px;
  margin: 0px; }

.container {
  min-width: 1000px;
  margin: 0 auto; }

.center {
  margin: 0 auto; }

table {
  border-collapse: collapse;
  text-align: center; }
  table h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  table tr {
    border: 1px solid #DADADA; }
    table tr td, table tr th {
      padding: 10px 20px;
      width: 200px; }

.first-shamir-name span {
  display: inline-block; }

.first-shamir-name span::first-letter {
  font-size: 25px; }

#iterations td {
  width: 150px; }

input[type="text"], .box {
  width: 40px;
  height: 40px; }

input[type="text"] {
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #DADADA; }

input[type="text"]:focus {
  border: 1px solid #179D9C; }

input[type="submit"] {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px; }

.btn {
  padding: 10px 25px;
  border: 0px;
  margin: 10px; }

.btn-submit {
  background-color: #179D9C; }

.btn-submit:hover {
  background-color: teal; }
