doctype
html(lang='es')
    head
        meta(charset='utf-8')
        title Fiat-Shamir
        link(rel="stylesheet", href="css/styles.css", attr)
    body
        form.container(method="#" action="#" onsubmit="validation(event)")
            
            table.center.main-table
                tr
                    th(colspan="2")
                        h1.first-shamir-name
                            span(style="color: teal;") Fiat
                            span(style="color: #333;") Shamir
                tr
                    td
                        input(type="text" placeholder="p" id="p-input" required="true")
                    td
                        input(type="text" placeholder="q" id="q-input")
                tr
                    td Identificación secreta de A
                    td
                        input(type="text" placeholder="s" id="s-input")
                tr
                    td Identificación pública de A
                    td
                        .box#v-value
                            | v
                tr
                    td(colspan="2") Iteraciones
                        input(type="number" placeholder="i" id="i-input" onchange="iterations(this.value)")
                        #iterations
                tr
                    td.no-padding(colspan="2")
                        input.center.block(type="submit" value="Verificar" class="btn btn-submit")

        script(src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous")
        script(src="js/main.js")
