*
    padding: 0px
    margin: 0px
.container
    min-width: 1000px
    margin: 0 auto
.center
    margin: 0 auto
.text-center
    text-align: center
.no-padding
    padding: 0px
    border: 0px
table
    border-collapse: collapse
    text-align: center
    &.iteration
        margin-top: 10px
        margin-bottom: 10px
    h1
        font-size: 20px
        text-transform: uppercase
        letter-spacing: 1px
    tr
        border: 1px solid #DADADA
        td,th
            padding: 10px 20px
            width: 200px
            border-collapse: collapse

.first-shamir-name
    span
        display: inline-block
    span::first-letter
        font-size: 25px
#iterations
    height: 300px
    overflow-y: auto
    td
        width: 150px
input[type="text"],.box
    width: 40px
    height: 40px
.box
    display: inline-block
    line-height: 40px
    font-size: 25px
input[type="text"]
    text-align: center
    font-size: 25px
    border-radius: 5px
    border: 1px solid #DADADA
input[type="text"]:focus
    border: 1px solid #179D9C
input[type="submit"]
    font-size: 12px
    text-transform: uppercase
    color: #fff
    letter-spacing: 1px

.btn
    padding: 10px 25px
    border: 0px
    margin: 10px
.btn-submit
    background-color: #179D9C
.btn-submit:hover
    background-color: teal
